{% load static %}
<section>

    <br><br>
    <footer>
        <div class="main-content" style="background-color:black;">
            <div class="left box">
                <!-- <h2>About us</h2> -->
                <img class="logo" src='{% static "final_logo.png" %}'>
                <div class="content">
                    <p> TakeCare is the website where you can find and get appointment from highly professional doctors
                        in any city</p>
                    <p> TakeCare is the website where you can buy any Medince on discount price from any city in
                        pakistan</p>
                    <div class="social">
                        <a href="#"><span class="fab fa-facebook-f"></span></a>
                        <a href="#"><span class="fab fa-twitter"></span></a>
                        <a href="#"><span class="fab fa-instagram"></span></a>
                        <a href="#"><span class="fab fa-youtube"></span></a>
                    </div>
                </div>
            </div>

            <div class="center box">
                <h2>Address</h2>
                <div class="content">
                    <div class="place">
                        <span class="fas fa-map-marker-alt"></span>
                        <span class="text">Rawalpindi , Pakistan</span>
                    </div>
                    <div class="phone">
                        <span class="fas fa-phone-alt"></span>
                        <span class="text">+92- 123456789</span>
                    </div>
                    <div class="email">
                        <span class="fas fa-envelope"></span>
                        <span class="text">Takecare52@gmail.com</span>
                    </div>
                </div>
            </div>

            <div class="right box">
                <h2>Contact us</h2>
                <div class="content">
                    <form action="#">
                        <div class="email">
                            <div class="text">Email *</div>
                            <input name="email" required type="email">
                        </div>
                        <div class="msg">
                            <div class="text">Message *</div>
                            <input name="msg" required style="height: 15vh;" type="textarea">

                        </div>
                        <div class="btn">
                            <button type="submit">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </footer>

</section>